@font-face {
  font-family: 'HelveticaNowText-Bold';
  src: 
    url('./../fonts/HelveticaNowText-Bold/HelveticaNowText-Bold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/HelveticaNowText-Bold/HelveticaNowText-Bold.woff') format('woff'),
    url('./../fonts/HelveticaNowText-Bold/HelveticaNowText-Bold.ttf') format('truetype'),
    url('./../fonts/HelveticaNowText-Bold/HelveticaNowText-Bold.svg#HelveticaNowText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowText-ExtraBold';
  src:
    url('./../fonts/HelveticaNowText-ExtraBold/HelveticaNowText-ExtraBold.eot?#iefix') format('embedded-opentype'), 
    url('./../fonts/HelveticaNowText-ExtraBold/HelveticaNowText-ExtraBold.woff') format('woff'),
    url('./../fonts/HelveticaNowText-ExtraBold/HelveticaNowText-ExtraBold.ttf')  format('truetype'),
    url('./../fonts/HelveticaNowText-ExtraBold/HelveticaNowText-ExtraBold.svg#HelveticaNowText-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowText-Medium';
  src:
    url('./../fonts/HelveticaNowText-Medium/HelveticaNowText-Medium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/HelveticaNowText-Medium/HelveticaNowText-Medium.woff') format('woff'),
    url('./../fonts/HelveticaNowText-Medium/HelveticaNowText-Medium.ttf')  format('truetype'),
    url('./../fonts/HelveticaNowText-Medium/HelveticaNowText-Medium.svg#HelveticaNowText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowText-Regular';
  src:
    url('./../fonts/HelveticaNowText-Regular/HelveticaNowText-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/HelveticaNowText-Regular/HelveticaNowText-Regular.woff') format('woff'),
    url('./../fonts/HelveticaNowText-Regular/HelveticaNowText-Regular.ttf')  format('truetype'),
    url('./../fonts/HelveticaNowText-Regular/HelveticaNowText-Regular.svg#HelveticaNowText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
