footer.footer
  .footer__wrapper
    .footer__logo
      img(src="./img/logo_footer.svg")
    .footer__column
      p.footer__title Products
      a.footer__link(href="./hesiod-transcription.html") Hesiod Transcription
      a.footer__link(href="./hesiod-library.html") Hesiod Library
      a.footer__link(href="./hesiod-library.html") Hesiod Stories
    .footer__column
      p.footer__title Company
      a.footer__link(href="./about.html") About us
      a.footer__link(href="./products.html") Products
      a.footer__link(href="./contact-us.html") Contact us
    .footer__column
      p.footer__title Further Information
      a.footer__link(href="./terms-conditions.html") Terms & Conditions
      a.footer__link(href="./privacy-policy.html") Privacy Policy
    .footer__column
      p.footer__title Follow Us
      .footer__social
        a(href="./" target="_blank" rel="noopener")
          img(src="./img/home/icon_linkedin.svg")
        //- a(href="./")
        //-   img(src="./img/home/icon_fb.svg")
        //- a(href="./")
        //-   img(src="./img/home/icon_instagram.svg")
        //- a(href="./")
        //-   img(src="./img/home/icon_tw.svg")
        //- a(href="./")
        //-   img(src="./img/home/icon_youtube.svg")


//- scripts
script(src="./js/main.js")
script.
  $('#advisors-slider').slick({
    nextArrow: '<button class="advisors__slider-arrow advisors__slider-arrow--right"><img src="./../../../img/icon_arrow_right.svg" /></button>',
    prevArrow: '<button class="advisors__slider-arrow advisors__slider-arrow--left"><img src="./../../../img/icon_arrow_right.svg" /></button>',
  });

  $('#team-slider').slick({
    nextArrow: '<button class="team__slider-arrow team__slider-arrow--right"><img src="./../../../img/icon_arrow_right.svg" /></button>',
    prevArrow: '<button class="team__slider-arrow team__slider-arrow--left"><img src="./../../../img/icon_arrow_right.svg" /></button>',
  });  
