meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="description of the site")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
meta(name="format-detection" content="telephone=no")
title Hesiod
link(rel="icon" type="image/png" href="./img/favicon.png")
link(href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet")
link(href="./css/main.css" rel="stylesheet")