header.header
  .header__wrapper
    .header__logo
      a(href="/")
        img(src="./img/logo.svg")
    nav.header__nav
      a.header__nav-link.header__nav-link--active(href="/about.html") About
      a.header__nav-link(href="/products.html") Product
      a.header__nav-button(href="/contact-us.html") Contact Us
