header.header
  .header__wrapper
    .header__logo
      a(href="/")
        img(src="./img/logo.svg")
    nav.header__nav
      a.header__nav-link(href="./about.html") About
      .header__nav-dropdown
        a.header__nav-link(href="./products.html")
          span Products
          img(src="./../../img/angle-down-solid.svg")
        span.header__inner-nav
          a(href="./hesiod-transcription.html") Hesiod Transcription
          a(href="./hesiod-library.html") Hesiod Library
          a(href="./hesiod-stories.html") Hesiod Stories
      a.header__nav-button(href="/contact-us.html") Contact Us
