.our-story {
  padding: 90px 0;
  position: relative;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  @media (max-width: 1100px) {
    position: static;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  @media (max-width: 767px) {
    padding: 30px 0;
  }
  &__wrapper {
    width: 100%;
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__content {
    width: 100%;
    max-width: 581px;
    padding-top: 50px;
    @media (max-width: 1100px) {
      max-width: 100%;
      padding-top: 100px;
    }
    @media (max-width: 767px) {
      padding-top: 70px;
    }
  }
  &__title {
    color: #1FBF53;
    font-size: 27px;
    font-family: 'HelveticaNowText-Bold';
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    color: #4D4D4D;
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 25px;
    }
  }
  &__list {
    padding-left: 30px;
    li {
      font-size: 18px;
      color: #4D4D4D;
      letter-spacing: 0.03em;
      line-height: 1.5;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        top: 11px;
        left: -20px;
        background-color: #4D4D4D;
      }
    }
  }
  &__img-decor {
    position: absolute;
    right: 120px;
    top: 120px;
    &:after {
      content: "";
      position: absolute;
      bottom: -42px;
      left: -57px;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: #eaeef1;
      z-index: -1;
    }
    img {
      max-width: 610px;
      height: auto;
      position: relative;
      @media (max-width: 1300px) {
        max-width: 100%;
      }
    }
    @media (max-width: 1100px) {
      position: relative;
      top: auto;
      right: auto;
      max-width: 400px;
      margin: 0 auto;
      &:after {
        width: 80%;
        height: 80%;
        bottom: -20%;
        left: -20%;
      }
    }
    @media (max-width: 767px) {
      max-width: 60%;
    }
  }
}