section.decision
  .decision__wrapper
    p.decision__title The Accelerator of your Decision
    .decision__list
      .decision__item
        .decision__icon
          img(src="./../../../img/products/icon_confidential.svg")
        p.decision__label Hesiod Transcription
        ul.decision__sublist
          li Taylor made
          li Secure & Confidential
          li High accuracy
      .decision__item
        .decision__icon
          img(src="./../../../img/products/icon_books.svg")
        p.decision__label Hesiod Library
        ul.decision__sublist
          li Knowledge Bank
          li Indexed & Managed
          li Timeless
      .decision__item
        .decision__icon
          img(src="./../../../img/products/icon_script.svg")
        p.decision__label Hesiod Stories
        ul.decision__sublist
          li Small & Mid-Cap
          li Independant research
          li Timely