section.main-screen-hp
  .main-screen-hp__decor-img-1
    img(src="./img/home/main-section-decor-img-1.svg")
  .main-screen-hp__decor-img-2
    img(src="./img/home/main-section-decor-img-2.svg")
  .main-screen-hp__wrapper
    .main-screen-hp__img
      img(src="./img/home/main-section-img.svg")
    .main-screen-hp__content
      p.main-screen-hp__text.main-screen-hp__text--bold Share knowledge quickly within your organization by In a fast moving world, your knowledge is precious
      p.main-screen-hp__text Expert knowledge is extremely valuable. Hesiod captures and stores Expert insights to give you a unique competitive advantage.
