section.products
  .products__wrapper
    .products__img
      img(src="./img/home/img-products.svg")
    .products__details
      p.products__title Our Products
      p.products__subtitle Range of Products you can select
      p.products__item
        img(src="./img/home/icon_check.svg")
        span Hesiod Scribe
      p.products__item.products__item--gray
        img(src="./img/home/icon_check.svg")
        span Hesiod Library
      p.products__item
        img(src="./img/home/icon_check.svg")
        span Hesiod Stories
