section.products
  p.products__title Our Products
  .products__wrapper
    .products__img
      img(src="./img/home/img-products.svg")
    .products__details
      //- p.products__subtitle Range of Products you can select
      a.products__item(href="./hesiod-transcription.html")
        img(src="./img/home/icon_check.svg")
        span Hesiod Scribe
      a.products__item(href="./hesiod-library.html")
        img(src="./img/home/icon_check.svg")
        span Hesiod Library
      a.products__item(href="./hesiod-stories.html")
        img(src="./img/home/icon_check.svg")
        span Hesiod Stories
