section.services
  .services__wrapper
    .services__item
      .services__item-icon
        img(src="./img/home/icon_fulltime.svg")
      p.services__item-title Full Time Staff
      p.services__item-text We hire full time staff instead of employing freelancers
    .services__item
      .services__item-icon
        img(src="./img/home/icon_security.svg")
      p.services__item-title Confidentiality & Security
      p.services__item-text We guarentee confidentiality of your work to the best of our ability
    .services__item
      .services__item-icon
        img(src="./img/home/icon_accuracy.svg")
      p.services__item-title Accuracy
      p.services__item-text Your work and documents are secured with 3 layer encryption