section.voluable
  .voluable__wrapper
    .voluable__img
      img(src="./img/home/valuable.png")
    .voluable__content
      p.voluable__tile Valuable conversation set in stone
      p.voluable__text The knowledge generated during expert calls is now saved and easily retrievable.
      p.voluable__text Your organization can take quiker and better decision on information already collected.
      a.voluable__btn(href="/contact-us.html") Know More


