section.knowledge
  .knowledge__wrapper
    p.knowledge__title Independant Research Focus on Small-Mid Market
    .knowledge__list
      .knowledge__item
        .knowledge__icon
          img(src="./../../../img/stories/icon_office_building.svg")
        p.knowledge__label Small & Mid Cap
        p.knowledge__text We are covering company valued from 20 Million to one billion.
      .knowledge__item
        .knowledge__icon
          img(src="./../../../img/stories/icon_assigment.svg")
        p.knowledge__label Independant
        p.knowledge__text Hesiod does not provide investement advice. We are independent and the view provided in Hesiod transcription only engage the Interviewee.
      .knowledge__item
        .knowledge__icon
          img(src="./../../../img/stories/icon_clock.svg")
        p.knowledge__label Timely
        p.knowledge__text Hesiod does not provide investment advice. We are independent and the view  provided in Hesiod transcription only engage the Interviewee.