.services {
  padding: 120px 0;
  background-color: #fff;
  &__wrapper {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 100%;
    max-width: calc((100% - 40px) / 3);
    background-color: #fff;
    padding: 60px 30px 48px;
    border-radius: 14px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item-icon {
    margin-bottom: 29px;
    min-height: 235px;
    display: flex;
    align-items: flex-end;
  }
  &__item-title {
    font-size: 25px;
    color: #00000A;
    font-family: 'HelveticaNowText-Bold';
    margin-bottom: 22px;
  }
  &__item-text {
    font-size: 18px;
    color: #4D4D4D;
    text-align: center;
    line-height: 1.4;
  }
}