section.knowledge
  .knowledge__wrapper
    p.knowledge__title Knowledge Management as a Service
    .knowledge__list
      .knowledge__item
        .knowledge__icon
          img(src="./../../../img/library/icon_contract.svg")
        p.knowledge__label Knowledge Bank
        p.knowledge__text Library is knowledge bank of all the exchange who had with Expert. You can easily retrieve all the information you need quickly
      .knowledge__item
        .knowledge__icon
          img(src="./../../../img/library/icon_managed.svg")
        p.knowledge__label Managed
        p.knowledge__text We managed your database to ensure everything is easily retrievable and classified correctly. Imagine a brick and mortar library, without a librarian it will be difficult to find anything after a few months. We provide the librarian to your library.
      .knowledge__item
        .knowledge__icon
          img(src="./../../../img/library/icon_timeline.svg")
        p.knowledge__label Timeless
        p.knowledge__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper mauris, mattis posuere libero. Quisque pretium, lacus sit amet varius placerat, lacus lacus efficitur est, porttitor euismod neque ligula id tortor.