section.advisors
  .advisors__wrapper
    #advisors-slider.advisors__slider
      .advisors__slider-item
        .advisors__slider-item-img
          img(src="./img/about/slider_img_1.png")
        .advisors__slider-item-content
          p.advisors__slider-item-title OUR ADVISORS
          p.advisors__slider-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper mauris, mattis posuere libero. Quisque pretium, lacus sit amet varius placerat, lacus lacus efficitur est, porttitor euismod neque ligula id tortor. Nunc purus nisl, suscipit eu leo nec, placerat tincidunt eros. Morbi pretium convallis urna, nec condimentum eros euismod et. Suspendisse quis nulla eu urna pharetra ultricies ac aliquet justo. Integer id venenatis felis, mattis congue augue. Nullam tempus nibh sit amet arcu tincidunt scelerisque. Curabitur pharetra enim quis facilisis tempor. Vivamus vitae magna sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      .advisors__slider-item
        .advisors__slider-item-img
          img(src="./img/about/slider_img_1.png")
        .advisors__slider-item-content
          p.advisors__slider-item-title OUR ADVISORS
          p.advisors__slider-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper mauris, mattis posuere libero. Quisque pretium, lacus sit amet varius placerat, lacus lacus efficitur est, porttitor euismod neque ligula id tortor. Nunc purus nisl, suscipit eu leo nec, placerat tincidunt eros. Morbi pretium convallis urna, nec condimentum eros euismod et. Suspendisse quis nulla eu urna pharetra ultricies ac aliquet justo. Integer id venenatis felis, mattis congue augue. Nullam tempus nibh sit amet arcu tincidunt scelerisque. Curabitur pharetra enim quis facilisis tempor. Vivamus vitae magna sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      .advisors__slider-item
        .advisors__slider-item-img
          img(src="./img/about/slider_img_1.png")
        .advisors__slider-item-content
          p.advisors__slider-item-title OUR ADVISORS
          p.advisors__slider-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper mauris, mattis posuere libero. Quisque pretium, lacus sit amet varius placerat, lacus lacus efficitur est, porttitor euismod neque ligula id tortor. Nunc purus nisl, suscipit eu leo nec, placerat tincidunt eros. Morbi pretium convallis urna, nec condimentum eros euismod et. Suspendisse quis nulla eu urna pharetra ultricies ac aliquet justo. Integer id venenatis felis, mattis congue augue. Nullam tempus nibh sit amet arcu tincidunt scelerisque. Curabitur pharetra enim quis facilisis tempor. Vivamus vitae magna sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus.
