section.our-story
  .our-story__wrapper
    .our-story__content
      p.our-story__title Our Story
      p.our-story__text The story of Hesiod started with Chehin while he was working at Third Bridgeand delivered their transcription solution:
      p.our-story__text Chehin noticed two gaps in the market.
      ul.our-story__list
        li Transcriptional agency cannot meet the financial industry standards in IT, security and confidentiality.
        li The knowledge provided by expert calls is lost. When a transcript is request it is often badly stored or it is difficult for people in the organisation to retireve the information collected.
  .our-story__img-decor
    img(src="./img/about/book.png")