section.values
  .values__wrapper
    p.values__title our values
    p.values__subtitle Partner Of Financial Institution 
    p.values__subtitle We Share Your Value
    .values__content
      .values__img
        img(src="./img/about/values.svg")
      .values__list
        .values__item
          p.values__item-title
            img(src='./img/about/icon_confidential.svg')
            span CONFIDENTIALITY
          p.values__item-description We designed our organisation to offer the highest level of security. Each individuals within the team value the confidentiality of your data. CTO and compliance officers can rest easy knowing that you have partner that exceeds your expectations.
        .values__item
          p.values__item-title
            img(src='./img/about/icon_innovation.svg')
            span INNOVATION
        .values__item
          p.values__item-title
            img(src='./../../../img/about/icon_call_center.svg')
            span TAYLORED SERVICE

