.knowledge {
  &__wrapper {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 90px 15px 110px;
    @media (max-width: 767px) {
      padding: 30px 15px;
    }
  }
  &__title {
    font-size: 34px;
    color: #00000A;
    font-family: 'HelveticaNowText-Medium';
    margin-bottom: 65px;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 26px;
      margin-bottom: 30px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    width: 100%;
    max-width: calc((100% - 40px) / 3);
    background-color: #fff;
    padding: 78px 34px 50px;
    border-radius: 24px;
    box-shadow: 0 24px 43px 7px rgba(0, 0, 0, 0.07);
    text-align: center;
    @media (max-width: 767px) {
      width: 350px;
      max-width: 100%;
      padding: 40px 15px 25px;
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__icon {
    margin-bottom: 60px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__label {
    font-size: 30px;
    color: #000;
    font-family: 'HelveticaNowText-ExtraBold';
    margin-bottom: 25px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
    color: #4D4D4D;
  }
}