.decision {
  background: url('../../../img/products/waves.svg') 0 0 no-repeat;
  background-size: contain;
  padding: 140px 15px 80px;
  &__wrapper {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
  }
  &__title {
    color: #fff;
    max-width: 390px;
    font-size: 34px;
    line-height: 1.5;
    font-family: 'HelveticaNowText-Medium';
    margin: 0 auto 60px;
    text-align: center;
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    background-color: #fff;
    width: 100%;
    max-width: calc((100% - 40px) / 3);
    min-height: 523px;
    border-radius: 24px;
    box-shadow: 0 24px 30px rgba(0, 0, 0, 0.07);
    padding: 74px 30px 55px;
  }
  &__icon {
    margin-bottom: 50px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__label {
    font-size: 30px;
    color: #000;
    font-family: 'HelveticaNowText-ExtraBold';
    margin-bottom: 30px;
    text-align: center;
  }
  &__sublist {
    padding-left: 25px;
    li {
      color: #4D4D4D;
      font-size: 20px;
      margin-bottom: 15px;
      position: relative;
      padding-left: 35px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 14px;
        height: 10px;
        border-radius: 5px;
        background-color: #1FBF53;
      }
    }
  }
}