section.scribe-content
  .scribe-content__wrapper
    .scribe-content__item
      img(src="./../../../img/transcription/icon_folder.svg")
      p.scribe-content__item-title Secure & Confidential
      p.scribe-content__item-text While other agencies are using external labours, our staff works from our office and use zero client. This means that nothing is stored locally. Your data is accessed in a controlled environment and always stored in AWS servers.
    .scribe-content__item
      img(src="./../../../img/transcription/icon_product.svg")
      p.scribe-content__item-title Taylor made
      p.scribe-content__item-text Consistency in deliver is difficult when you do not have staff. We do! We can guarantee consistency of delivery because we know who is going to take your file.
    .scribe-content__item
      img(src="./../../../img/transcription/icon_focus.svg")
      p.scribe-content__item-title Accuracy
      p.scribe-content__item-text Better than 99%, we offer accuracy where it matter. Company, products, names and numbers are what matters to you. That is why, our team will go through extensive research to make sure you get this right.