section.team
  .team__wrapper
    .team__slider-wrapper
      #team-slider.team__slider
        .team__slider-item
          .team__info
            p.team__title A team Specialized by Industry.
            p.team__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper mauris, mattis posuere libero. Quisque pretium, lacus sit amet varius placerat, lacus lacus efficitur est, porttitor euismod neque ligula id tortor. Nunc purus nisl, suscipit eu leo nec, placerat tincidunt eros. Morbi pretium convallis urna, nec condimentum eros euismod et. Suspendisse quis nulla eu urna pharetra ultricies ac aliquet justo. Integer id venenatis felis.
          .team__img
            img(src="./../../../img/transcription/slider-img-1.png")
        .team__slider-item
          .team__info
            p.team__title A team Specialized by Industry.
            p.team__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper mauris, mattis posuere libero. Quisque pretium, lacus sit amet varius placerat, lacus lacus efficitur est, porttitor euismod neque ligula id tortor. Nunc purus nisl, suscipit eu leo nec, placerat tincidunt eros. Morbi pretium convallis urna, nec condimentum eros euismod et. Suspendisse quis nulla eu urna pharetra ultricies ac aliquet justo. Integer id venenatis felis.
          .team__img
            img(src="./../../../img/transcription/slider-img-1.png")
        .team__slider-item
          .team__info
            p.team__title A team Specialized by Industry.
            p.team__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper mauris, mattis posuere libero. Quisque pretium, lacus sit amet varius placerat, lacus lacus efficitur est, porttitor euismod neque ligula id tortor. Nunc purus nisl, suscipit eu leo nec, placerat tincidunt eros. Morbi pretium convallis urna, nec condimentum eros euismod et. Suspendisse quis nulla eu urna pharetra ultricies ac aliquet justo. Integer id venenatis felis.
          .team__img
            img(src="./../../../img/transcription/slider-img-1.png")