doctype html
html(lang="en")
  head
    include sections/_head
  body
    include sections/_header
    include pages/terms-conditions/_banner
    include pages/terms-conditions/_content
    include sections/_footer